*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .parent{
    background-color: aqua;
    padding: 24px;
}

.child{
    background-color: yellow;
    padding: 24px;
}
@media(width<=1200px){
    .parent{
        background-color: black;
    }
} */

.container{
    height: 400px;
    background-color: yellow;
    margin: 40px;
}

.child{
    background-color: purple;
    height: 40px;
    width: 40px;
    position: sticky;
    top: 50px;
}